*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --background-color:  #fff;
    --text-color:        #555;
    --title-color:       #000;
}

.dark-theme{
    --background-color:  #000;
    --text-color:        #999;
    --title-colo:        #fff;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;
}
.header{
    width: 100%;
    min-height: 100vh;
    padding:  0 8%;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo {
    width: 80px;
}

nav ul {
    width: 100%;
    text-align: right;
    list-style: none;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    margin: 5px 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

.toggle-btn {
    background: #4864ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-btn i {
    color: #fff;
} 

.content h1 {
    font-size: 60px;
    font-family: serif;
    color: var(--title-color);
    font-weight: 400;
}

.content h1 span{
    font-family: serif;
    font-weight: 300;
    font-style: italic;
}
.content a{
    background: #4864ff;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}


.img-box img{
    width: 300px;
    display: block;
    z-index: -1;

}
.img-box {
    position: absolute;
    bottom: 0;
    right: 4%;
    text-decoration: none;
}

.pattern {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    transform: rotate(40deg);
    z-index: -1;
}

.pattern img {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 1s linear infinite alternate-reverse;
}

.pattern img:nth-child(1){
    transform: rotate(-45deg) translate(-75px -50px);
    animation-delay: 0.5s;
}
.pattern img:not(2){
    transform: rotate(65deg) translate(0px -40px) scale(.8);
    animation-delay: 1.5s;
}

@keyframes move{
    100%{
        margin-left: 40px;
        margin-top: 20px;
        opacity: 0.3;
    }
}

































































































